@media (max-width: 500px) {
  body {
    background-color: #353535;
    font-family: "Signifer-Light", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Josefin Sans";
  }

  .banner {
    position: fixed;
    margin-top: 3vh;
    top: 0;
    background-color: #353535;
    padding: 0;
    max-width: 100%;
  }

  #messages {
    margin-top: 14vh;
    margin-bottom: 6vh;
    padding: 0 20px;
    background-color: #353535;
    height: 80vh;
    overflow-y: scroll;
  }

  form {
    margin-bottom: 2px;
}
  
  form label {
    flex: none;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
}
  
  form textarea[name="message"] {
    flex: 1;
    padding: 1vh;
    margin: 0;
    overflow-y: scroll;
    resize: vertical;
    max-height: 5em;
    font-family: "Signifer-Light", sans-serif;
  }
  
  form button {
    flex: none;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    max-width: fit-content;
    padding: 0;
  }

  form button img {
    margin-right: 10px;
    position: absolute;
    bottom: 0;
    height: 60px;
    margin-right: 5vh;

  }
}