{% load static %}

{% block styles %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'landingPage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mobileLanding.css' %}">
{% endblock %}

{% block content %}
    <h1 className="heading">Meet</h1>
    <div class="banner">
      <img src="./static/banner.png" alt="Banner">
    </div>
    <img src="./static/gbr.png" alt="GBR Logo">
    <div class="button-container">
      <a href="login" onclick="window.location.href='login'">
        <img class="login-btn" src="./static/Login.png" alt="Login" />
      </a>
      <a href="signup" onclick="window.location.href='signup'">
        <img class="signup-btn" src="./static/Signup.png" alt="signup" />
      </a>
  </div>
{% endblock %}