{% load static %}

{% block styles %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mobileLogin.css' %}">
{% endblock %}

{% block content %}
  {% if error_message %}
    <p style="color: red">{{ error_message }}</p>
  {% endif %}
  <img src="{% static 'gbr.png' %}" alt="GBR Logo">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h1>Mr Growbot</h1>
    <div>
      <label for="username_or_email">Username or Email:</label>
      <input type="text" name="username_or_email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" required>
    </div>
    <button type="submit">Login</button>
  </form>
{% endblock %}
