{% load static %}

{% block styles %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mobileSignup.css' %}">
{% endblock %}

{% block content %}
  {% if error_message %}
    <p style="color: red">{{ error_message }}</p>
  {% endif %}
  <img src="{% static 'gbr.png' %}"alt="GBR Logo">
  <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    <h1>Sign Up</h1>
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" required>
    </div>
    <div>
      <label for="password2">Retype Password:</label>
      <input type="password" name="password2" required>
    </div>
    <button type="submit" class="signup-button">
      <img src="{% static 'Signup.png' %}" alt="Signup" class="signup-image">
    </button>
  </form>
{% endblock %}
